<div class="widget error">
    <div class="title">
        <strong>Invalid Widget</strong>
       </div>
    <div class="body">
        Some error
    </div>
</div>

<style>
    .widget {
        grid-column:span 1;grid-row:span 2;
    }
</style>
