---
import Info from "@components/icons/Info.astro";
interface Props {
    widget: {
        title: string;
        width: number;
        height: number;
    };
    doc_url: string;
}

const { widget, doc_url } = Astro.props;
---

<div
    class="widget"
    style={{
        gridColumn: `span ${widget.width}`,
        gridRow: `span ${widget.height *2}`
    }}
>
    <div class="title">
        <strong>{widget.title}</strong>
        <a href={doc_url} title="doc"> <Info/></a>
    </div>
    <div class="body">
    
        <slot/>
</div>
</div>
