---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Farben">
    <blockquote style="margin-block-end: var(--space-m);">
        Light und Dark Mode werden unterstützt und automatisch erkannt.
    </blockquote>
    <h2>Hintergrundfarben</h2>
    <div class="blocks" style="margin-block-end: var(--space-m);">
        <div
            class="block"
            style="
                background-color: var(--clr-surface1); 
                color: var(--clr-text2)
            "
        >
        </div>
        <div
            class="block"
            style="
                background-color: var(--clr-surface2);
                color: var(--clr-text2);
            "
        >
        </div>
        <div
            class="block"
            style="
                background-color: var(--clr-surface3);
                color: var(--clr-text1);
            "
        >
        </div>
        <div
            class="block"
            style="
                background-color: var(--clr-surface4);
                color: var(--clr-text1);
            "
        >
        </div>
    </div>
    <h2>Textfarben</h2>
    <div class="blocks" style="margin-block-end: var(--space-m);">
        <div
            class="block"
            style="                
                background-color: var(--clr-text1)
            "
        >
        </div>
        <div
            class="block"
            style="
                background-color: var(--clr-text2);
            "
        >
        </div>
    </div>
    <h2>Akzentfarben</h2>

    <div class="blocks" style="margin-block-end: var(--space-m);">
        <div
            class="block"
            style="
            background-color: var(--clr-primary);
        "
        >
        </div>
        <div
            class="block"
            style="
        background-color: var(--clr-secondary);
    "
        >
        </div>
    </div>
    <h2>Semantische Farben</h2>

    <div class="blocks" style="margin-block-end: var(--space-m);">
        <div
            class="block"
            style="                
                background-color: var(--clr-error)
            "
        >
        </div>
        <div
            class="block"
            style="
                background-color: var(--clr-warning);
            "
        >
        </div>
        <div
            class="block"
            style="
            background-color: var(--clr-success);
        "
        >
        </div>
    </div>
</BaseLayout>

<style>
    .blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .block {
        width: 15rem;
        aspect-ratio: 1;
        border: 1px solid hsl(var(--clr-primary-hue) 10% 50% / 15%);
        -webkit-clip-path: var(--clip-path2);
        clip-path: var(--clip-path2);
    }
</style>
