---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Übersicht">
    <h2>Inspiration & Resources</h2>
    <ul>
        <li>https://andy-bell.co.uk/a-more-modern-css-reset/</li>
        <li>https://web.dev/articles/building/a-color-scheme</li>
        <li>https://monaspace.githubnext.com/</li>
        <li>https://utopia.fyi</li>
        <li>https://arwes.dev</li>
        <li>https://bulma.io</li>
    </ul>
</BaseLayout>
