---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Andere Komponenten">
    <h2>Semantische Blocks (blockquote)</h2>
    <blockquote>Normale Nachricht</blockquote>
    <blockquote class="error">`.error` Nachricht</blockquote>
    <blockquote class="warning">`.warning` Nachricht</blockquote>
    <blockquote class="success">`.success` Nachricht</blockquote>
</BaseLayout>
