---
import BaseLayout from "@layouts/BaseLayout.astro";
import Widget from "@components/widgets/Widget.astro";
import Invalid from "@components/widgets/Invalid.astro";
import Button from "@components/Button.astro";
---

<BaseLayout title="Widgets">
    <div class="widgets">
        <Invalid />
        <Widget
            doc_url=""
            widget={{
                title: "title",
                width: 1,
                height: 1,
            }}
        >
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                voluptate maxime nam minima eius deleniti aliquam omnis quidem
                possimus officia placeat laborum, repellat illo accusantium
                molestias sint sit! Eos, ex.
            </p>

            <Button pressed={false}>"Unpressed" button</Button>
        </Widget>
        <Widget
            doc_url=""
            widget={{
                title: "a very very very very very very very very very very very very long title",
                width: 2,
                height: 1,
            }}
        >
            <table>
                <thead>
                    <tr>
                        <th>One</th>
                        <th>Two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Three</td>
                        <td>Four</td>
                    </tr>
                    <tr>
                        <td>Five</td>
                        <td>Six</td>
                    </tr>
                    <tr>
                        <td>Seven</td>
                        <td>Eight</td>
                    </tr>
                    <tr>
                        <td>Nine</td>
                        <td>Ten</td>
                    </tr>
                    <tr>
                        <td>Eleven</td>
                        <td>Twelve</td>
                    </tr>
                </tbody>
            </table>
        </Widget>
        <Widget
            doc_url=""
            widget={{
                title: "title",
                width: 1,
                height: 2,
            }}
        >
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                voluptate maxime nam minima eius deleniti aliquam omnis quidem
                possimus officia placeat laborum, repellat illo accusantium
                molestias sint sit! Eos, ex.
            </p>
            <Button pressed={true}>"Pressed" button</Button>
        </Widget>
        <Widget
            doc_url=""
            widget={{
                title: "a long title",
                width: 3,
                height: 1,
            }}
        >
            <table>
                <thead>
                    <tr>
                        <th>One</th>
                        <th>Two</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Three</td>
                        <td>Four</td>
                    </tr>
                    <tr>
                        <td>Five</td>
                        <td>Six</td>
                    </tr>
                    <tr>
                        <td>Seven</td>
                        <td>Eight</td>
                    </tr>
                    <tr>
                        <td>Nine</td>
                        <td>Ten</td>
                    </tr>
                    <tr>
                        <td>Eleven</td>
                        <td>Twelve</td>
                    </tr>
                </tbody>
            </table>
        </Widget>
    </div>
</BaseLayout>

<style>
    .warning-block {
        background-color: orange;
        width: fit-content;
        margin-left: 0.2em;
        font-size: small;
        display: inline;
    }

    .button {
        border: 1pt solid black;
        display: inline-block;
        padding: 0.5em;
        margin: 0.1em;
        cursor: pointer;
        user-select: none;
    }

    .button.unpressed {
        background-color: lightgrey;
    }

    .button.pressed {
        background-color: grey;
    }

    td .button {
        font-size: smaller;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
    }

    .widget table {
        margin-bottom: 0.5em;
    }

    .widget thead {
        font-weight: bolder;
    }

    .widget table,
    .widget td {
        border: 1pt solid black;
        border-collapse: collapse;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .documentation {
        background-color: rgb(245, 245, 245);
        h1 {
            font-size: 1.4em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1em;
        }
    }
</style>
