---
import { Image } from 'astro:assets';
import logo from "@assets/icon-removebg.png"
---


<header>
    <Image src={logo} alt="Cockpit" height="75"/> 
    <h1>Cockpit UI</h1>

    <nav>
        <ul role="list">
            <li><a href="/">Übersicht</a></li>
            <li><a href="/typography">Typographie</a></li>
            <li><a href="/colors">Farben</a></li>
            <li><a href="/tables">Tabellen</a></li>
            <li><a href="/widgets">Widgets</a></li>
            <li><a href="/documentation">Dokumentation</a></li>
            <li><a href="/other">Andere Komponenten</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        padding-block-start: .5rem; // optically vertical centered
    }

    nav {
        grid-column: 1 / -1;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        padding: 0;
    }
</style>
