@layer base.reset {
    /*
 *********
 * RESET *
 *********
 *
 * @link https://andy-bell.co.uk/a-more-modern-css-reset/ 
 */


    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        line-height: 1.5;
    }

    /* Set shorter line heights on headings and interactive elements */
    h1,
    h2,
    h3,
    h4,
    button,
    input,
    label {
        line-height: 1.1;
    }

    /* Balance text wrapping on headings */
    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
        min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
        scroll-margin-block: 5ex;
    }

    /*
 * additional resets
 */

    body {
        padding: 0;
        margin: 0;
    }
}

@layer base.colors {

    /*
 *****************
 * COLOR SCHEMES *
 *****************
 *
 * @link https://web.dev/articles/building/a-color-scheme
 */

    * {
        /* clr-primary foundation */
        --clr-primary-hue: 200;
        --clr-primary-saturation: 100%;
        --clr-primary-lightness: 50%;

        /* clr-secondary foundation */
        --clr-secondary-hue: 286;
        --clr-secondary-saturation: 100%;
        --clr-secondary-lightness: 70%;

        /* clr-error foundation */
        --clr-error-hue: 0;
        --clr-error-saturation: 100%;
        --clr-error-lightness: 70%;

        /* clr-warning foundation */
        --clr-warning-hue: 40;
        --clr-warning-saturation: 100%;
        --clr-warning-lightness: 70%;

        /* clr-success foundation */
        --clr-success-hue: 120;
        --clr-success-saturation: 100%;
        --clr-success-lightness: 70%;

        /* light */
        --clr-primary-light: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) var(--clr-primary-lightness));
        --clr-secondary-light: hsl(var(--clr-secondary-hue) var(--clr-secondary-saturation) var(--clr-secondary-lightness));

        --clr-error-light: hsl(var(--clr-error-hue) var(--clr-error-saturation) var(--clr-error-lightness));
        --clr-warning-light: hsl(var(--clr-warning-hue) var(--clr-warning-saturation) var(--clr-warning-lightness));
        --clr-success-light: hsl(var(--clr-success-hue) var(--clr-success-saturation) var(--clr-success-lightness));

        --clr-text1-light: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) 10%);
        --clr-text2-light: hsl(var(--clr-primary-hue) 30% 30%);

        --clr-surface1-light: hsl(var(--clr-primary-hue) 25% 90%);
        --clr-surface2-light: hsl(var(--clr-primary-hue) 20% 99%);
        --clr-surface3-light: hsl(var(--clr-primary-hue) 20% 92%);
        --clr-surface4-light: hsl(var(--clr-primary-hue) 20% 85%);

        /* dark */
        --clr-primary-dark: hsl(var(--clr-primary-hue) calc(var(--clr-primary-saturation) / 1.25) calc(var(--clr-primary-lightness) / 1.25));
        --clr-secondary-dark: hsl(var(--clr-secondary-hue) calc(var(--clr-secondary-saturation) / 1.25) calc(var(--clr-secondary-lightness) / 1.25));

        --clr-error-dark: hsl(var(--clr-error-hue) calc(var(--clr-error-saturation) / 1.25) calc(var(--clr-error-lightness) / 1.25));
        --clr-warning-dark: hsl(var(--clr-warning-hue) calc(var(--clr-warning-saturation) / 1.25) calc(var(--clr-warning-lightness) / 1.25));
        --clr-success-dark: hsl(var(--clr-success-hue) calc(var(--clr-success-saturation) / 1.25) calc(var(--clr-success-lightness) / 1.25));

        --clr-text1-dark: hsl(var(--clr-primary-hue) 15% 75%);
        --clr-text2-dark: hsl(var(--clr-primary-hue) 10% 61%);

        --clr-surface1-dark: hsl(var(--clr-primary-hue) 10% 20%);
        --clr-surface2-dark: hsl(var(--clr-primary-hue) 10% 15%);
        --clr-surface3-dark: hsl(var(--clr-primary-hue) 5% 30%);
        --clr-surface4-dark: hsl(var(--clr-primary-hue) 5% 35%);
    }

    :root {
        color-scheme: light;

        /* set defaults */
        --clr-primary: var(--clr-primary-light);
        --clr-secondary: var(--clr-secondary-light);

        --clr-error: var(--clr-error-light);
        --clr-warning: var(--clr-warning-light);
        --clr-success: var(--clr-success-light);

        --clr-text1: var(--clr-text1-light);
        --clr-text2: var(--clr-text2-light);

        --clr-surface1: var(--clr-surface1-light);
        --clr-surface2: var(--clr-surface2-light);
        --clr-surface3: var(--clr-surface3-light);
        --clr-surface4: var(--clr-surface4-light);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;

            --clr-primary: var(--clr-primary-dark);
            --clr-secondary: var(--clr-secondary-dark);

            --clr-error: var(--clr-error-dark);
            --clr-warning: var(--clr-warning-dark);
            --clr-success: var(--clr-success-dark);

            --clr-text1: var(--clr-text1-dark);
            --clr-text2: var(--clr-text2-dark);

            --clr-surface1: var(--clr-surface1-dark);
            --clr-surface2: var(--clr-surface2-dark);
            --clr-surface3: var(--clr-surface3-dark);
            --clr-surface4: var(--clr-surface4-dark);
        }
    }

    [color-scheme="light"] {
        color-scheme: light;

        --clr-primary: var(--clr-primary-light);
        --clr-secondary: var(--clr-secondary-light);

        --clr-error: var(--clr-error-light);
        --clr-warning: var(--clr-warning-light);
        --clr-success: var(--clr-success-light);

        --clr-text1: var(--clr-text1-light);
        --clr-text2: var(--clr-text2-light);

        --clr-surface1: var(--clr-surface1-light);
        --clr-surface2: var(--clr-surface2-light);
        --clr-surface3: var(--clr-surface3-light);
        --clr-surface4: var(--clr-surface4-light);
    }

    [color-scheme="dark"] {
        color-scheme: dark;

        --clr-primary: var(--clr-primary-dark);
        --clr-secondary: var(--clr-secondary-dark);

        --clr-error: var(--clr-error-dark);
        --clr-warning: var(--clr-warning-dark);
        --clr-success: var(--clr-success-dark);

        --clr-text1: var(--clr-text1-dark);
        --clr-text2: var(--clr-text2-dark);

        --clr-surface1: var(--clr-surface1-dark);
        --clr-surface2: var(--clr-surface2-dark);
        --clr-surface3: var(--clr-surface3-dark);
        --clr-surface4: var(--clr-surface4-dark);
    }

    :root {
        --shadow1:
            0 2px 5px 0 hsl(var(--clr-primary-hue), 20%, 0%, 0.16),
            0 2px 10px 0 hsl(var(--clr-primary-hue), 20%, 0%, 0.12);
        --shadow2:
            0 5px 11px 0 hsl(var(--clr-primary-hue), 20%, 0%, 0.18),
            0 4px 15px 0 hsl(var(--clr-primary-hue), 20%, 0%, 0.15);
    }
}

@layer base.geometrie {
    :root {
        --clip-path1: polygon(0 0, calc(100% - .75rem) 0, 100% .75rem, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, 0 100%);
        --clip-path2: polygon(0 12px, 12px 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%);
    }
}

@layer base.fonts {

    /*
 *********
 * FONTS *
 *********
 *
 *
 * @link https://monaspace.githubnext.com/
 * 
 *
 * Variation ranges:
 * 
 * font-variation-settings: "wght" 200, "wdth" 100, "slnt" 0;
 *
 * Weight (wgth): 200 - 800
 * Width (wdth): 100 - 125
 * Slant (slnt): -11 - 0
 *
 *
 * Font feature settings (ligatures):
 * 
 * font-feature-settings: 
 *   "calt" 1, "dlig" 1, "ss01" 1, "ss02" 1, "ss03" 1,
 *   "ss04" 1, "ss05" 1, "ss06" 1, "ss07" 1, "ss08" 1;
 * 
 * Values: 1 (active) or 0 (inactive)
 */

    @font-face {
        font-family: "Monaspace Neon";
        src: url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2"),
            url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff") format("woff");
    }

    @font-face {
        font-family: "Monaspace Argon";
        src: url("/fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2"),
            url("/fonts/MonaspaceArgonVarVF[wght,wdth,slnt].woff") format("woff");
    }

    @font-face {
        font-family: "Monaspace Xenon";
        src: url("/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff2") format("woff2"),
            url("/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff") format("woff");
    }

    @font-face {
        font-family: "Monaspace Radon";
        src: url("/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2") format("woff2"),
            url("/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff") format("woff");
    }

    @font-face {
        font-family: "Monaspace Krypton";
        src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2") format("woff2"),
            url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff") format("woff");
    }

    body {
        font-family: 'Monaspace Argon', monospace;
        font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0;
        font-feature-settings: "calt" 1, "dlig" 1, "ss01" 1, "ss02" 1, "ss03" 1,
            "ss04" 1, "ss05" 1, "ss06" 1, "ss07" 1, "ss08" 1;
    }

    h1,
    .size-1,
    h2,
    .size-2,
    h3,
    .size-2,
    h4,
    .size-3,
    h5,
    .size-5,
    h6,
    .size-6 {
        font-family: 'Monaspace Krypton', sans-serif;
        font-variation-settings: "wght" 700, "wdth" 110, "slnt" 0;
        text-transform: uppercase;
    }

    button,
    .button {
        font-family: 'Monaspace Neon', sans-serif;
        font-variation-settings: "wght" 600, "wdth" 100, "slnt" 0;
    }
}

@layer base.typography {

    /*
 **************
 * TYPOGRAPHY *
 **************
 */

    :not(.prose)> :is(p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6) {
        margin: 0;
    }

    blockquote {
        --clr-local: var(--clr-primary);
        --clr-local-hue: var(--clr-primary-hue);

        border-inline-start: 10px solid var(--clr-local);
        padding: 1rem;
        background: linear-gradient(90deg, hsl(var(--clr-local-hue), 84%, 55%, 0.15), hsl(var(--clr-local-hue), 84%, 55%, 0.05));
        -webkit-clip-path: var(--clip-path1);
        clip-path: var(--clip-path1);
    }

    strong,
    dt {
        font-variation-settings: "wght" 800;
    }

    em,
    figcaption {
        font-family: 'Monaspace Radon', monospace;
        font-variation-settings: "wght" 200, "slnt" -8;
    }

    figcaption em {
        font-variation-settings: "slnt" 0;
    }

    a:hover,
    a:focus {
        color: var(--clr-primary);
        font-variation-settings: "wght" 600;
    }

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    :root {
        --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
        --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
        --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
        --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
        --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
        --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
        --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
        --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
    }

    body,
    .size-0 {
        font-size: var(--step-0);
    }

    h1,
    .size-1 {
        font-size: var(--step-4);
    }

    h2,
    .size-2 {
        font-size: var(--step-3);
    }

    h3,
    .size-3 {
        font-size: var(--step-2);
    }

    h4,
    .size-4 {
        font-size: var(--step-1);
    }

    h5,
    .size-5 {
        font-size: var(--step-0);
    }

    h6,
    .size-6 {
        font-size: var(--step--1);
    }
}

@layer base.spacing {

    /*
 ***********
 * SPACING *
 ***********
 *
 * @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12
 *
 */

    :root {
        --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
        --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
        --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
        --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
        --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
        --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
        --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
        --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
        --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

        /* One-up pairs */
        --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
        --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
        --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
        --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
        --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
        --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
        --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
        --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    }
}

@layer layout {
    body {
        padding: var(--space-s);
    }
}

@layer background {
    body {
        background-color: var(--clr-surface4);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.06' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    }
}

@layer semantic {
    .error {
        --clr-local: var(--clr-error);
        --clr-local-hue: var(--clr-error-hue);
    }

    .warning {
        --clr-local: var(--clr-warning);
        --clr-local-hue: var(--clr-warning-hue);
    }

    .success {
        --clr-local: var(--clr-success);
        --clr-local-hue: var(--clr-success-hue);
    }
}

@layer component.table {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        background-color: var(--clr-surface1);
        min-width: 100%;
    }

    table th:not([align]) {
        text-align: left;
    }

    table :is(td, th) {
        border-style: solid;
        border-color: var(--clr-primary);
        border-width: 0;
        padding: .5em .75em;
        vertical-align: top;
    }

    table thead :is(td, th) {
        border-width: 0 0 2px;
    }

    table tfoot :is(td, th) {
        border-width: 2px 0 0;
    }

    table th {
        font-variation-settings: "wght" 700;
    }

    /* striped */
    table tbody tr:nth-child(2n) {
        background-color: var(--clr-surface2);
    }

    /* hover */
    table tbody tr:hover {
        background-color: var(--clr-surface4);
        color: var(--clr-text1);
    }

    .table-container {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        overflow-y: hidden;
        max-width: 100%;
    }
}

@layer component.widget {
    .widgets {
        --min-width: 15rem;

        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--min-width), 100%), 1fr));
        gap: var(--space-m);

    }

    .widget {
        display: grid;
        grid-template-rows: subgrid;
        gap: 0;
        background-color: var(--clr-surface1);

        -webkit-clip-path: var(--clip-path2);
        clip-path: var(--clip-path2);
    }


    .widget .title {
        background-color: var(--clr-local);
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: var(--space-xs);
        text-indent: var(--space-xs);
        padding: var(--space-3xs) var(--space-2xs);
    }

    .widget .body {
        padding: var(--space-2xs);
        background-color: var(--clr-surface2);
        grid-row: 2 / -1;
        color: var(--clr-local);
        display: grid;
        gap: var(--space-s);
        align-content: start;
    }
}

@layer component.button {
    :is(button, .button) {
        --clr-local: var(--clr-text1);

        -webkit-clip-path: var(--clip-path2);
        clip-path: var(--clip-path2);

        background-color: var(--clr-local);
        color: var(--clr-surface1);
        display: inline-block;
        padding: var(--space-2xs) var(--space-xs);
        cursor: pointer;
        user-select: none;
        border: none;
        text-align: left;
        transition: 100ms background-color, 100s color;

        &:hover,
        &:focus {
            background-color: var(--clr-primary);
            color: var(--clr-text1);
        }

        &.unpressed {
            --clr-local: var(--clr-text1);
        }

        &.pressed {
            --clr-local: var(--clr-text2);
        }
    }



}

@layer component.docs {
    .documentation {
        background-color: var(--clr-surface1);
    }
}